doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Please Login - Admin Panel
        link(rel="stylesheet", href="adminStyle.css")
        link(rel="icon" href="../Bingoicons/login.png")
        link(rel="apple-touch-icon" href="../Bingoicons/login.png")


    body 
        .container 
            span.error
                h3 Please Login First
            span.heading
                h2 <a href="/adminLogin">Admin Login</a>

        footer
            .main-text
                | Coded and Maintained By Nitz (Nitin).